
<% if current_user && current_user.team.presence %>
<i class="<%= show_team_icon(current_user.team) %> icon-big"></i>
<div><i><%= current_user.team %></i></div>
<% end %>
<!--<div><i>Последние матчи</i></div>-->
<% 5.times do %>
<!--<a class="a-onlain" href="#">-->
<!--    <div class="table">-->
<!--        <table class="table">-->
<!--            <tr>-->
<!--                <td>MU_FC</td>-->
<!--                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="20px" /></td>-->
<!--                <td class="time">21-30</td>-->
<!--                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="20px" /></td>-->
<!--                <td>MU_FC</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</a>-->
<% end %>

<div class="list-group">
    
    <% Article.my_team_news(current_user).each do |article| %>
        <a href="<%= article_path(article) %>" class="list-group-item text-left">
          <h4 class="list-group-item-heading"><%= truncate(article.title, length: 120) %></h4>
           <i class="glyphicon glyphicon-time"></i><i><%= article.created_at.strftime("%m-%d-%Y") %></i> 
        </a>
    <% end %>
    
    <% if current_user && current_user.team.presence %>
        <a href="#" class="btn btn-info block-center">Все о команде</a>
    <% end %>
    
</div>
