<% @title = @article.title %>


<div class="show-bg"><%= image_tag @article.picture.url(:thumb_big), class: 'img-responsive' %></div>
<h1 class="text-center show-h1"><%= @article.title %></h1>


<div class="row show-row">
    <div class="col-md-9">
        <h2 class="text-left"><strong><%= @article.summary %></strong></h2>
        <p class="text-center"><%= raw simple_format(@article.description) %></p>
        <% @article.pictures.each do |subarticle| %>
            <%= image_tag subarticle.picture, class: 'img-responsive' %>
            <p><%= raw simple_format(subarticle.description) %></p>
        <% end %>
        
        <% if @article.source.presence %>
        <i style="font-size: 1.4em;">Источник<a target="_blank" style="color: #ff5b5a; margin-left: 5px; padding-top: 50px" href="<%= @article.source %>"><%= @article.source.slice!(7, 10) %>...</a></i>
        <% end %>
        
        <div class="read-us">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        
    </div>
    <div class="col-md-3 hidden-sm">
        <div class="read-us">
            <p class="text-left-lenta"><b>Читайте нас</b></p>
            <hr/>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
            
        <p class="text-left-lenta"><b>Лента новостей</b></p>
        <hr/>
        <div class="list-group">
            
            <% if @news %>  
                <% @news.last(12).each do |article| %>
            <a href="<%= article_path(article) %>" class="list-group-item">
              <h4 class="list-group-item-heading" style="font-size: 14px;"><b><%= truncate(article.title, length: 100) %></b></h4>
               <i class="glyphicon glyphicon-time"></i><i><%= article.created_at.strftime("%m-%d-%Y") %></i> 
            </a>
                <% end %>
            <% end %>
            
        </div> 
    </div>
</div>

<div class="row row-article">
    <% @news.first(3).each do |article| %>
    <div class="col-sm-6 col-md-4 col-article">
        <a class="a-article" href="<%= article_path(article) %>">
            <div class="thumbnail">
                <%= image_tag(article.picture.url(:thumb), :alt => 'football') %>
                <div class="caption custom-caption">
                    <h3><strong><%= truncate(article.title, length: 70) %></strong></h3>
                    <p><%= truncate(article.summary,length: 130) %></p>
                    <span class="article-time"><i class="glyphicon glyphicon-time"></i><i><%= article.created_at.strftime("%m/%d/%Y") %></i></span> 
                </div>
            </div>
        </a>
    </div>
    <% end %>
</div>
