
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title text-center" style="font-size: 1.4em" id="exampleModalLabel">Зарегистрироваться с помощью</div>
      </div>
      <div class="modal-body">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-lg btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                </div>
                <div class="btn-group" role="group">
                  <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn btn-lg btn-danger"><i class="fa fa-google-plus" aria-hidden="true"></i>Google</a>
                </div>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                  <a href="<%= user_twitter_omniauth_authorize_path %>" class="btn btn-lg btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
                </div>
                <div class="btn-group" role="group">
                  <a href="<%= user_vkontakte_omniauth_authorize_path %>" class="btn btn-lg btn-danger"><i class="fa fa-vk" aria-hidden="true"></i>Vkontakte</a>
                </div>
            </div>
            <hr>
            <div class="text-center" style="font-size: 1.4em">Или</div>
            <hr>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-info">Зарегистрироваться вручную</a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>