<div class="panel panel-default row-onlain"> 
    <div class="panel-heading"> 
        <h3 class="panel-title text-left">Моя команда</h3> 
    </div> 
    <div class="panel-body my-team" id="my-team">
        
        
            <%= form_tag change_my_team_path, method: :post, remote: true, id: "my-team-form" do %>
                <div class="form-group text-center">
                  <div class="select-league">
                      <select class="selectpicker" id="country" onchange="changeCountry();">
                          <option value="england">Выбрать Лигу</option>
                          <option value="england" data-icon="select-box-sprite sprite_header sprite-england_another">АПЛ</option>
                          <option value="spain" data-icon="select-box-sprite sprite_header sprite-spain">Ла Лига</option>
                          <option value="germany" data-icon="select-box-sprite sprite_header sprite-germany">Бундеслига</option>
                          <option value="italy" data-icon="select-box-sprite sprite_header sprite-italy">Серия А</option>
                      </select>
                  </div>
                  <div class="countries" id="england">
                      <%= select_tag 'team', options_for_select(select_apl_teams),  {:prompt=> change_prompt(cookies.permanent[:user_team]) , :onchange=>"$('.hidden-team-field').val($(this).val());$(this.form).submit();", class: "selectpicker", "data-live-search"=>"true"} %>
                  </div> 
                  <div class="countries" id="spain">
                      <%= select_tag 'team', options_for_select(select_laliga_teams), {:prompt=> change_prompt(cookies.permanent[:user_team]) , :onchange=>"$('.hidden-team-field').val($(this).val());$(this.form).submit();", class: "selectpicker", "data-live-search"=>"true"} %>
                  </div>
                  <div class="countries" id="italy">
                      <%= select_tag 'team', options_for_select(select_seria_teams), {:prompt=> change_prompt(cookies.permanent[:user_team]) , :onchange=>"$('.hidden-team-field').val($(this).val());$(this.form).submit();", class: "selectpicker", "data-live-search"=>"true"} %>
                  </div>
                  <div class="countries" id="germany">
                      <%= select_tag 'team', options_for_select(select_bundesliga_teams), {:prompt=> change_prompt(cookies.permanent[:user_team]) , :onchange=>"$('.hidden-team-field').val($(this).val());$(this.form).submit();", class: "selectpicker", "data-live-search"=>"true"} %>
                      
                  </div>
                </div>
                <%= hidden_field_tag 'team', params[:team], class: "hidden-team-field" %>
            <% end %>
         
            <div id="my-team-content"><%= render 'main/my_team_content' %></div>
    </div> 
</div>

<script type="text/javascript">
        
  (function(){
    $('.selectpicker').hide();
    $('.bootstrap-select').hide();
    $('.countries').hide();
    var country = $('#country').val();
    $('#' + country).show();
  })();
    
    function changeCountry(){
         $('.countries').hide();
         var country = $('#country').val();
         $('#' + country).show();
    }

</script>