<div class="row-onlain center-block">
    
    <div class="panel panel-default"> 
        <div class="panel-heading"> 
            <h3 class="panel-title text-left">Матчи сегодня<i class="hide-show" onclick="$('#match-today').stop().slideToggle('slow');">Скрыть</i></h3> 
        </div> 
        <div class="panel-body" id="match-today">
                <div class="table">
                    <table class="table">
                        
                        
                        <%= render 'shared/leagues/apl_playing' %>
                        <%= render 'shared/leagues/bl_playing' %>
                        <%= render 'shared/leagues/seria_a_playing' %>
                        <%= render 'shared/leagues/sp_playing' %>
                        
                        <%= render 'shared/leagues/chempions_league_playing' %>
                    </table>
                    
                </div>
            
        </div>
    </div>
    
    <div class="panel panel-default"> 
        <div class="panel-heading"> 
            <h3 class="panel-title text-left">Матчи завтра<i class="hide-show" onclick="$('#match-tomorrow').stop().slideToggle('slow');">Скрыть</i></h3> 
        </div> 
        <div class="panel-body" id="match-tomorrow">
                <div class="table">
                    <table class="table">
                        
                        <%= render 'shared/leagues/apl_will_play' %>
                        <%= render 'shared/leagues/bl_will_play' %>
                        <%= render 'shared/leagues/seria_a_will_play' %>
                        <%= render 'shared/leagues/sp_will_play' %>
                        
                        <%= render 'shared/leagues/chempions_league_will_play' %>
                    </table>
                    
                </div>
            
        </div>
    </div>
    
    <div class="panel panel-default"> 
        <div class="panel-heading"> 
            <h3 class="panel-title text-left">Матчи вчера<i class="hide-show" onclick="$('#match-yesterday').stop().slideToggle('slow');">Показать</i></h3> 
        </div> 
        <div class="panel-body" id="match-yesterday" style="display: none;">
                <div class="table">
                    <table class="table">
                        
                        <%= render 'shared/leagues/apl_played' %>
                        <%= render 'shared/leagues/bl_played' %>
                        <%= render 'shared/leagues/seria_a_played' %>
                        <%= render 'shared/leagues/sp_played' %>
    
                        <%= render 'shared/leagues/chempions_league_played' %>
                    </table>
                    
                </div>
            
        </div>
    </div>
    
        
</div>
 


