

    <!--sub_comment start-->
    <% comment.comments.each do |sub_comment| %>
        <% @sub_comment = sub_comment %>
        <div class="media custom-media-list"> 
            <div class="media-left"> 
                <a href="#"> 
                    <%= avatar_to_comments sub_comment.user %>
                </a> 
                <i class="text-center">Рейтинг:</i>
                <i class="text-center carma"><%= carma sub_comment.user %></i>
            </div> 
            <div class="media-body"> 
                <h4 class="media-heading name"><%= sub_comment.user.username if sub_comment.user.username %> <i><%= time_ago_in_words(sub_comment.created_at) %> назад</i></h4> 
                <%= sub_comment.body %> 
                <div class="voting">
                    <% if signed_in? && current_user %>
                        <%= link_to like_comment_path(sub_comment), method: :put, remote: true do %>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <% end %>
                        <i class="voite-count" id="voite-count-up-<%= sub_comment.id %>"><%= sub_comment.get_upvotes.size %></i>
                        <%= link_to unlike_comment_path(sub_comment), method: :put, remote: true do %>
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <% end %>
                        <i class="voite-count" id="voite-count-down-<%= sub_comment.id %>"><%= sub_comment.get_downvotes.size %></i>
                    <% else %>
                        <a  href="#" data-toggle="modal" data-target="#authModal" rel="nofollow">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                        </a>
                        <i class="voite-count" id="voite-count-up-<%= sub_comment.id %>"><%= sub_comment.get_upvotes.size %></i>
                        <a  href="#" data-toggle="modal" data-target="#authModal" rel="nofollow">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i> 
                        </a>
                        <i class="voite-count" id="voite-count-down-<%= sub_comment.id %>"><%= sub_comment.get_downvotes.size %></i>
                    <% end %>
                    <% if signed_in? && current_user %>
                        <a class="reply" onclick="showForm('<%= 'reply-form-' + sub_comment.id.to_s %>');">Ответить</a>
                    <% else %>
                        <a class="reply" href="#" data-toggle="modal" data-target="#authModal" rel="nofollow">Ответить</a>
                    <% end %>
                </div>
                <!--reply form start-->
                <div style="display: none;" class="media media-form media-subform" id="reply-form-<%= sub_comment.id.to_s %>">
                    <div class="media-left">
                        <a>
                            <%= avatar_to_comments current_user %>
                        </a>
                    </div>
                    <div class="media-body">
                        <%= form_for(Comment.new, url: comment_comments_path(comment), :html => {:class => "comment-form"}, remote: true) do |f| %>
                            <%= f.text_area :body,class: 'form-control comments-body', rows: '2', cols: '3', placeholder: "Оставьте комментарий", autofocus: true, onkeyup: "textAreaAdjust(this);" %><br/>
                            <%= f.hidden_field :user_id, value: (current_user.id if current_user) %>
                            <%= f.submit "Ответить", class: 'btn btn-email pull-right', data: { disable_with: "Отправка..." }, :disabled => true %>
                            <a class="btn btn-default btn-cancel pull-right" onclick="hideForm('<%= 'reply-form-' + sub_comment.id.to_s %>');">Отмена</a>
                            
                        <% end %>
                    </div>
                </div>
                <!--reply form end-->
            </div> 
        </div>
    <% end %>
    <!--sub_comment end-->