<div class="row row-table hidden-xs">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">Premier League</div>
      
        <div class="panel-body">
      <!-- Table -->
        <table class="table table-hover">
            <thead class="text-center">
                <tr class="tr_first">
                    <th></th>
                    <th>#</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Матчей</th>
                    <th>В</th>
                    <th>Н</th>
                    <th>П</th>
                    <th class="team-goals">Заб</th>
                    <th class="team-goals-against">Про</th>
                    <th></th>
                    <th>Очков</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% @number = 0 %>
                <% @response_table['standing'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td></td>
                    <td><%= @number += 1 %></td>
                    <td class="team-icon"><i class="<%= show_team_icon(team['teamName']) %> icon-small"></i></td>
                    <td class="team-name"><%= team_translater(team['teamName']) %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ><%= team['playedGames'] %></td>
                    <td><%= team['wins'] %></td>
                    <td><%= team['draws'] %></td>
                    <td><%= team['losses'] %></td>
                    <td class="team-goals"><%= team['goals'] %></td>
                    <td class="team-goals-against"><%= team['goalsAgainst'] %></td>
                    <td></td>
                    <td class="team-score"><%= team['points'] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>