<div class="row row-table hidden-xs">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
                <select class="table-select selectpicker" id="league-table" onchange="changeTable();">
                    <option data-icon="select-box-sprite sprite_header sprite-england_another" value="england-table">АПЛ</option>
                    <option data-icon="select-box-sprite sprite_header sprite-spain" value="spain-table">Ла Лига</option>
                    <option data-icon="select-box-sprite sprite_header sprite-germany" value="germany-table">Бундеслига</option>
                    <option data-icon="select-box-sprite sprite_header sprite-italy" value="italy-table">Серия А</option>
                    <option data-icon="select-box-sprite sprite_header sprite-europe" value="euro-table">Лига Чемпионов</option>
                </select>
        </div>
      
        <div class="panel-body">
      <!-- Table -->
        <table class="table table-hover">
            <thead class="text-center">
                <tr class="tr_first">
                    <th class="team-number">#</th>
                    <th class="team-icon"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="team-td">Матчей</th>
                    <th class="team-td">В</th>
                    <th class="team-td">Н</th>
                    <th class="team-td">П</th>
                    <th class="team-td">Заб</th>
                    <th class="team-td">Про</th>
                    <th class="team-td">Раз</th>
                    <th></th>
                    <th>Очков</th>
                </tr>
            </thead>
            
            <tbody class="text-center league-tables" id="england-table">
                <% @number = 0 %>
                <% @response_table['standing'].each do |team| %>
                <tr class="<%= change_row_color @number %>" style="background: <%= '#69a6a6' if current_user && current_user.team.presence && current_user.team == team['teamName'] %>">
                    <td class="team-number"><%= @number += 1 %></td>
                    <td class="team-icon"><i class="<%= show_team_icon(team['teamName']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['teamName']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td"><%= team['wins'] %></td>
                    <td class="team-td"><%= team['draws'] %></td>
                    <td class="team-td"><%= team['losses'] %></td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
            </tbody>
            
            <tbody class="text-center league-tables" id="spain-table">
                <% @number = 0 %>
                <% @response_table_pl_sp['standing'].each do |team| %>
                <tr class="<%= change_row_color @number %>"style="background: <%= '#69a6a6' if current_user && current_user.team.presence && current_user.team == team['teamName'] %>">
                    <td class="team-number"><%= @number += 1 %></td>
                    <td class="team-icon"><i class="<%= show_team_icon(team['teamName']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['teamName']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td"><%= team['wins'] %></td>
                    <td class="team-td"><%= team['draws'] %></td>
                    <td class="team-td"><%= team['losses'] %></td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
            </tbody>
            
            <tbody class="text-center league-tables" id="germany-table">
                <% @number = 0 %>
                <% @response_table_bundes_liga['standing'].each do |team| %>
                <tr class="<%= change_row_color @number %>"style="background: <%= '#69a6a6' if current_user && current_user.team.presence && current_user.team == team['teamName'] %>">
                    <td class="team-number"><%= @number += 1 %></td>
                    <td class="team-icon"><i class="<%= show_team_icon(team['teamName']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['teamName']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td"><%= team['wins'] %></td>
                    <td class="team-td"><%= team['draws'] %></td>
                    <td class="team-td"><%= team['losses'] %></td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
            </tbody>
            
            <tbody class="text-center league-tables" id="italy-table">
                <% @number = 0 %>
                <% @response_table_seria_a['standing'].each do |team| %>
                <tr class="<%= change_row_color @number %>"style="background: <%= '#69a6a6' if current_user && current_user.team.presence && current_user.team == team['teamName'] %>">
                    <td class="team-number"><%= @number += 1 %></td>
                    <td class="team-icon"><i class="<%= show_team_icon(team['teamName']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['teamName']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td"><%= team['wins'] %></td>
                    <td class="team-td"><%= team['draws'] %></td>
                    <td class="team-td"><%= team['losses'] %></td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
            </tbody>
            
            <tbody class="text-center league-tables" id="euro-table">
                <tr class="chempleag-devider">
                    <td class="chempleag-column">A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @number = 0 %>
                <% @response_table_chemp_liga['standings']['A'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">B</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['B'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">C</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['C'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">D</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['D'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">E</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['E'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">F</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['F'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">G</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['G'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
                
                <tr class="chempleag-devider">
                    <td class="chempleag-column">H</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% @response_table_chemp_liga['standings']['H'].each do |team| %>
                <tr class="<%= change_row_color @number %>">
                    <td class="team-number"><%= team['rank'] %></td><% @number += 1 %>
                    <td class="team-icon"><i class="<%= show_team_icon(team['team']) %> icon-table"></i></td>
                    <td class="team-name"><%= full_team_translater(team['team']) %></td>
                    <td></td>
                    <td></td>
                    <td class="team-td"><%= team['playedGames'] %></td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td">-</td>
                    <td class="team-td"><%= team['goals'] %></td>
                    <td class="team-td"><%= team['goalsAgainst'] %></td>
                    <td class="team-td"><%= team['goalDifference'] %></td>
                    <td></td>
                    <td class="team-score"><b><%= team['points'] %></b></td>
                </tr>
                <% end %>
            </tbody>
            
        </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function(){
        var league = $('#league-table').val();
        $('#' + league).show();
    })();
    
    function changeTable(){
        $('.league-tables').hide();
        var league = $('#league-table').val();
        $('#' + league).show();
    }
</script>