<!--top players-->
    <div class="row row-table top-players hidden-xs league-tables" id="top-england-table">
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Бомбардиры</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Голы</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Ассистенты</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Передачи</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Гол + Пас</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Гол+Пас</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    
    <!--top players-->
    <div class="row row-table top-players hidden-xs league-tables" id="top-spain-table">
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Бомбардиры</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Голы</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Ассистенты</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Передачи</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Гол + Пас</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Гол+Пас</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    
    <!--top players-->
    <div class="row row-table top-players hidden-xs league-tables" id="top-germany-table">
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Бомбардиры</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Голы</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Ассистенты</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Передачи</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Гол + Пас</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Гол+Пас</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    
    <!--top players-->
    <div class="row row-table top-players hidden-xs league-tables" id="top-italy-table">
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Бомбардиры</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Голы</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Ассистенты</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Передачи</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Гол + Пас</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Гол+Пас</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    
    <!--top players-->
    <div class="row row-table top-players hidden-xs league-tables" id="top-euro-table">
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Бомбардиры</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Голы</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Ассистенты</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Передачи</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h6 class="panel-title">Гол + Пас</h6></div>
              <div class="panel-body panel-body-custom">
                <table class="table table-hover">
                  <thead>
                    <tr class="tr_first">
                      <th>#</th>
                      <th style="text-align: left;">Игрок</th>
                      <th></th>
                      <th></th>
                      <th>Гол+Пас</th>
                    </tr>
                  </thead>
                  <% @number = 1 %>
                  <tbody>
                    <% 4.times do %>
                    <% @number += 1 %>
                      <tr class="<%= change_row_color @number %>">
                        <td><%= @number - 1 %></td>
                        <td>Ибрагимович</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        
      (function(){
          var league = $('#league-table').val();
          $('#' + league).show();
          $('#top-' + league).show();
      })();
      
      function changeTable(){
          $('.league-tables').hide();
          var league = $('#league-table').val();
          $('#' + league).show();
          $('#top-' + league).show();
      }
    
    </script>