<h1>Hello I am a player</h1>
<ul>
    <li><%= @player.number %></li>
    <li><%= @player.name %></li>
    <li><%= @player.position %></li>
    <li><%= @player.nationality %></li>
    <li><%= @player.contract_until %></li>
    <li><%= @player.date_of_birth %></li>
    <li><%= @player.market_value %></li>
</ul>