<% @response_seria_a['fixtures'].each do |team| %>
    <% if team['date'].to_time.strftime('%d %b %Y') == (Time.zone.now.to_time+3.hour).strftime('%d %b %Y') %>
<tr><td>
    <i>
        <%= team['matchday'].to_s+' тур '+ Russian::strftime(Time.zone.now+3.hour, '%d %b') %>
    </i>
</td><td></td><td><i class="sprite_header sprite-italy"></i></td><td></td><td></td></tr>
    <% break %>
    <% end %>
<% end %>

<% @response_seria_a['fixtures'].each do |team| %>
    <% if (Time.zone.now.to_time+3.hour).strftime('%d %b %Y')  == (team['date'].to_time).strftime('%d %b %Y') %>
    <tr class='clickable-row a-onlain' data-href='<%= root_path %>'>
        <td><%= team_translater(team['homeTeamName']) %></td>
        <td><i class="<%= show_team_icon(team['homeTeamName']) %> icon-small"></i></td>
        <td class="time"><div style="background:<%= in_play_or_finished(team['status']) %>" class="score_or_time"><%= time_or_result team['status'], team['result']['goalsHomeTeam'], team['result']['goalsAwayTeam'], (team['date'].to_time+3.hour).strftime('%H:%M')  %></div></td> <!--('%a %b %d %H:%M:%S %Z %Y')-->
        <td><i class="<%= show_team_icon(team['awayTeamName']) %> icon-small"></i></td>
        <td><%= team_translater(team['awayTeamName']) %></td>
        
    </tr>
    <% end %>
<% end %>