<div class="header">
  <div class="container-fluid container-fluid-custom-first">
    <div class="col-xs-2 col-sm-1 text-center search"><i class="glyphicon glyphicon-search"></i></div>
    <div class="col-xs-4 col-sm-5 text-right logo-area"><h1 class="main-logo"><a href="<%= root_path %>">euro<span style="color: red">liga</span></a></h1></div>
    <div class="col-xs-6 header-profile text-right">
      
      <ul class="nav nav-pills">
        <% if signed_in? %>
          <li>
            <% if current_user && current_user.avatar.presence %>
                <%= image_tag current_user.avatar.url(:thumb), :style => "height: 50px;" %>
            <% else %>
              <% if current_user && current_user.avatarc.presence %>
                <%= image_tag current_user.avatarc, :style => "height: 50px;" %>
                <% else %>
                  <img src="/images/default-avatar.png" alt="foto" style="height: 50px;" />
              <% end %>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профиль<span class="caret"></span></a>
            <ul class="dropdown-menu custom-dropdown-menu">
              <li><a href="#" class="header-link">Просмотреть</a></li>
              <% if current_user %>
              <li><a href="<%= edit_user_path(current_user) %>">Редактировать</a></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete) %> </li>
            </ul>
          </li>
        <% else %>
          <li><a href="#" data-toggle="modal" data-target="#authModal"><i class="fa fa-user" aria-hidden="true"></i> Рег<span class="hidden-xs">истрация</span></a></li>
          <li><a href="#" data-toggle="modal" data-target="#signModal"><i class="fa fa-sign-in" aria-hidden="true"></i> Войти</a></li>
        <% end %> 
      </ul>
      
    </div>
  </div>
  <div class="container-fluid container-fluid-custom-second">
    <a href="<%= root_path %>"><div class="col-xs-2 col-sm-1 text-center main-link"><div class="main-el">EL</div><div>Главная</div></div></a>
    <div class="col-xs-10 col-sm-11 menu-item">
      
    </div>
  </div>
</div>

        
        
   