<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Английская премьер лига, смотреть футбол онлайн" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= 'show-bg-color' if action_name == 'show' %>">
  
  <%= render 'layouts/header' %>
    
  <div class="container">
    <%= render 'layouts/messages' %>

    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  
  <!--modals-->
  <%= render 'layouts/modals/modal_privacy' %>
  <%= render 'layouts/modals/modal_contact' %>
  <%= render 'layouts/modals/modal_auth' %>
  <%= render 'layouts/modals/modal_sign_in' %>

</body>
</html>
